* {
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.mainName{
color: black;
display: flex;
justify-content: center;
}
.hungman{
}
.head{
    position: absolute;
    left: 26.5rem;
    top: 16rem
}
.bodyMan{
    position: absolute;
        left: 29.5rem;
        top: 23rem;
}
.leftHand{
    position: absolute;
        left: 19rem;
        top: 23rem;

}
.leftLeg{
    position: absolute;
        left: 21.5rem;
        top: 34rem;

}
.rightHand{
    position: absolute;
        left: 31rem;
        top: 22.8rem;

}
.rightLeg{
    position: absolute;
        left: 30.2rem;
        top: 33.9rem;

}